<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<base href="./">

	<link rel="stylesheet" href="components/typicons.font/src/font/typicons.min.css">
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="common.min.css">

	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="components/tether/dist/js/tether.min.js"></script>
	<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="components/angular/angular.min.js"></script>
	<script src="components/angular-route/angular-route.min.js"></script>
	<script src="components/angular-animate/angular-animate.min.js"></script>

	<script src="app.min.js"></script>
	<script src="common.min.js"></script>

	<title>HomeHub</title>
</head>

<body ng-app="homehub">
	<nav class="navbar navbar-fixed-left navbar-light bg-faded ng-cloak" ng-class="{ 'navbar-small': hideNavbar }" ng-controller="NavbarController">
		<header class="navbar-action-group">
			<div class="navbar-action">
				<a id="btn-navbar-open" class="btn btn-link" ng-click="openNavbar()"><span class="typcn typcn-menu-icon" ng-class="{ 'typcn-th-menu-outline': hideNavbar, 'typcn-arrow-left': !hideNavbar }"></span></a>
			</div>
		</header>
		<div class="navbar-action-group">
			<div class="navbar-action-group-title">
				<h3>Servicios</h3>
			</div>
			<div class="navbar-action">
				<a class="btn btn-link"><span class="typcn typcn-link-outline typcn-menu-icon"></span><span class="navbar-action-name">Páginas web</span></a>
			</div>
			<div class="navbar-action">
				<a class="btn btn-link"><span class="typcn typcn-th-small-outline typcn-menu-icon"></span><span class="navbar-action-name">Servicios</span></a>
			</div>
		</div>
		<div class="navbar-action-group">
			<div class="navbar-action-group-title">
				<h3>Infraestructura</h3>
			</div>
			<div class="navbar-action">
				<a class="btn btn-link"><span class="typcn typcn-device-tablet typcn-menu-icon"></span><span class="navbar-action-name">Dispositivos</span></a>
			</div>
		</div>
		<div class="navbar-action-group">
			<div class="navbar-action-group-title">
				<h3>Preferencias</h3>
			</div>
			<div class="navbar-action">
				<a class="btn btn-link"><span class="typcn typcn-cog-outline typcn-menu-icon"></span><span class="navbar-action-name">Local</span></a>
			</div>
			<div class="navbar-action">
				<a class="btn btn-link"><span class="typcn typcn-plug typcn-menu-icon"></span><span class="navbar-action-name">Red</span></a>
			</div>
		</div>
	</nav>
	<div class="page-content">
		<div ng-view class="view-animate"></div>
	</div>
</body>

</html>