#main-container {
    position: absolute;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image:url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    .container {
        margin-top: 55px;
        max-width: 600px;
    }

    .main-elem-container {
        margin: 5px auto;
        background: #fff;
        padding: 4px 6px;
        .border-radius(4px);
    }

    .elem-link {
        .elem-link-title {
            font-weight: bold;

            img {
                margin-top: -2px;
                width: 18px;
                height: 18px;
            }
        }
    }

    .elem-service {
        .card-img-top {
            width: 100%;
            background: #eee;
            padding: 3px;
        }

        .card-title {
            font-size: 1.25rem;

            .card-title-icon {
                height: 1.7rem;
            }
        }

        .list-group-item {
            padding: 0.5rem;
        }

        .card-block {
            padding: 0.5rem;
        }
    }
}
